:root {
    /* COLORS */
  --dark-01: #15191d;
  --dark-02: #212529;
  --dark-03: #313b4b;
  --dark-04: #6f6f6f;
  --dark-05: #262626;
  --white-01: #ffffff;
  --yellow: #FFC04C;
  --lightblue: lightblue;
  --red: #FF4C4C;
    /* BORDER */
  --border-01: 1px solid;
  --bdRadius-01: 6px;
  --bdRadius-02: 8px;
    /* BOX SHADOW */
  --bx-shadow-01: 5.4px 4.5px 20px 0px;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  background-color: var(--dark-01);
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
}
/* BTNs */
.btn-01 {
  background-color: var(--dark-03);
  color: white;
}
.btn-01:hover {
  background-color: var(--dark-02);
}

/* NAV */
#navWrapper {
  background-color: var(--dark-01);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover,
.navbar-brand.active {
  color: #FFC04C;
}
.nav-link {
  color: white;
  transition: color 0.3s; /* Optional: smooth transition for color change */
}

/* Hover and active styles for each nav item */
.nav-item:nth-child(1) .nav-link:hover,
.nav-item:nth-child(1) .nav-link.active {
  color: #FFC04C;
}
.nav-item:nth-child(2) .nav-link:hover,
.nav-item:nth-child(2) .nav-link.active {
  color: lightblue;
}
.nav-item:nth-child(3) .nav-link:hover,
.nav-item:nth-child(3) .nav-link.active {
  color: #FF4C4C;
}
#linkedIn {
  height: 33px;
  width: 33px;
  transform: translateY(-3px);
  fill: white;
  transition: fill 0.3s;
}
#linkedIn:hover {
  fill: #0A66C2;
}
/* HERO */
.hero {
  padding: 212px 0px 77px 0;
  text-align: center;
}
.hero h1 {
  font-size: 5rem;
  font-weight: 600;
}
.hero p {
  font-size: 1.3rem;
}
.profile {
  background-color: lightblue;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 50px 0px;
}
/* section titlte */
.section-title {
  text-align: center;
  padding-bottom: 70px;
  color: white;
  font-size: 6rem;
}
/* SKILLS */
.skill-inner {
  background-color: var(--dark-02);
  border-radius: 8px;
}
#skills .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.skill-item {
  background-color: var(--dark-01);
  border-radius: 8px;
  border: 1px solid var(--dark-02);
  box-shadow: var(--bx-shadow-01) var(--dark-01);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 600px;
  width: 40%;
}
.skill-item h2 {
  padding: 0px 0 40px 0;
  color: white;
  text-align: center;
}
.skill-item .subtitle {
  color: chocolate;
  text-align: center;
  padding: 20px 0;
}
.skill-item .text {
  color: var(--white-01);
  margin-left: 0;
  padding-left: 0;
}
.skill-item .subtitle,
.skill-item .text {
  text-transform: capitalize;
}

/* PROJECTS */
#projects {
}
.projects-inner {
  padding: 100px 0;
}
.project-body,
.project-image {
  background-color: var(--dark-02);
  height: 100%;
  border-radius: 6px;
  border: var(--border-01) var(--dark-01);
  box-shadow: var(--bx-shadow-01) var(--dark-05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project-body {
  padding: 100px 82px;
  margin-right: 5px;
  color: white;
}
.project-body h4 {
  padding: 20px 0;
  font-size: 1.9rem;
}
.project-image {
}

/* CONTACT ME */
#contact {
  background-color: var(--dark-05);
  color: white;
  padding: 100px 0;
}

/* FOOTER */
#footer {
  background-color: var(--dark-02);
  color: white;
  padding: 100px 0px 0px 0;
}
.footer-links {
  padding-bottom: 80px;
}
.footer-links p {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--yellow);
}
.footer-credits {
  background-color: var(--dark-05);
  padding: 8px 0;
  text-align: center;
}

/* PROJECTS PAGES */
#heroProject {
  padding: 250px 0 70px 0;
  color: white;
}
.heroProject-body h1 {
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 60px;
  color: var(--yellow);
}
.heroProject-body p {
  padding-bottom: 60px;
}
.heroProject-image {
  background-color: var(--dark-01);
  height: 100%;
  border: var(--border-01) var(--dark-02);
  box-shadow: var(--bx-shadow-01) var(--dark-02);
  padding: 60px;
  border-radius: var(--bdRadius-01);
  border-bottom-color: var(--yellow);
}
.heroProject-image img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

/*PROJECT CATEGORY */
#categories {
  padding: 100px 0;
}
.category-item {
  background-color: var(--dark-02);
  border-radius: var(--bdRadius-01);
  box-shadow: var(--bx-shadow-01);
  border: var(--border-01) var(--dark-05);
  padding: 35px 0px 25px 0px;
}
.category-item span {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--yellow);
}
.category-item h4 {
  font-size: 1.5rem;
  margin-top: 9px;
  color: white;
}
/* PROJECT ARTICLE */
#projectAbout {
  padding: 100px 0;
}
#projectAbout article {
  background-color: var(--dark-01);
  color: white;
}
